@import url('https://fonts.maateen.me/ekushey-lohit/font.css');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        @import url('https://fonts.maateen.me/mukti/font.css');
        @import url('https://fonts.maateen.me/solaiman-lipi/font.css');
        *{
            border: 0;
            margin: 0;
            font-family: 'SolaimanLipi', sans-serif;
        }
        body{
            width: 100%;
            overflow-x: hidden;
        }
        header{
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            padding-bottom: 200px;
            background-image: url("https://cdn.shopify.com/s/files/1/0533/6743/9558/t/5/assets/pf-33dab6d7--introHowtotastetea.jpg?v=1627466946");
        }
        .navbar{
            display: flex;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            padding: 0px;
            
        }
        .logo{
            height: 70px;
        }
        nav{
            margin-left:auto;
        }
        nav ul li{
            display: inline;
            margin: 0 19px;
        }
        a{
            text-decoration: none;
            color: white;
        }
        #main-info{
            display: flex;
            align-self: flex-end;
            margin-top: 1em;
            margin-left: 4rem;
            position: relative;
            top: 100px;
            
        }
        .main-slogan{
            display: inline;  
            width:30%;
        }
        .main-part{
            font-size: 70px;
            font-family: 'Mukti', sans-serif;
  font-weight: 400;
  font-style: normal;
            color: rgb(41, 37, 31);
        }
        .highlight{
            font-family: 'Mukti', sans-serif;
  font-weight: 400;
  font-style: normal;
            font-size: 70px;
            color: rgb(255, 0, 0);
        }
        .short-details{
            margin: 30px 10px 10px 10px;
            width: 50%;
            font-size: 15px;
            color: #ffffff;
            font-weight: 300;
            word-spacing: 2px;
            font-family: 'SolaimanLipi', sans-serif;
        }
        .more{
            font-style: italic;
            font-family: cursive;
            margin-left: 1em;
            height: 30px;
            color: #fff;
            width: 100px;
            margin: 10px;
            transition: 0.5s;
            padding: 5px 10px;
            position: relative;
            top: 10px;    
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
}
        
.more:hover{
    width: 110px;
    line-height: 32px;
    height: 32px;
    border: 1px #fff solid ;
    border-radius: 3px;
    padding: 7px 12px;
    color:#000000;  
    background-color: white;

}
#product{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 10%;   
}
.box{
    background-color: #fafdff;
    text-align: center;
    margin: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box:hover{
    transform: scale(1.025);

}
.tea{
    border-radius: 50%;
    height: 200px;
}
.order{
    font-style: italic;
            font-family: cursive;
            margin-left: 1em;
            height: 30px;
            color: #fff;
            width: 250px;
            margin: 10px;
            transition: 0.1s;
            padding: 5px 10px;
            position: relative;
            top: 10px;    
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
}
.order:hover{
    background-image: none;
    background-color: white;
    color: black;
}
.name{
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
    font-family: "Bebas Neue", sans-serif;
}
.price{
    font-size: 30px;
    font-weight: 400;
    margin: 20px;

}
.container-pro{
    background-color: #ffffff;
animation-name: color;
animation-duration: 19s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
@keyframes color {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#title{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
hr{
    border: 10px solid rgb(187, 255, 0);
    border-radius: 10px;
}
#info{
    width: 100%;
    margin: 0;  
    display: inline-block; 
}
#info-img{
    height: 1000px;
    float: right;
    position: relative;
    -webkit-animation: flatBubble 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@-webkit-keyframes floatBubble{
0%{
     height: 800px;
}
    100% {
        height: 1050px;
}
}
#info-line{
   margin-top: 300px ;
   margin-left: 80px;
   font-size: 50px;
   font-family: 'Mukti', sans-serif;
}
#about-us{
    display: inline-block;
}
#about-img{
    float: left;
    border-radius: 50%;
}
#about-h1{
    font-size: 40px;
    text-align: center;
    padding: 30px;
    font-family: 'Mukti', sans-serif;
}
#about-line{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-top: 110px;
    margin-right: 80px;
    
}
#about-line-full{
    font-family: 'Mukti', sans-serif;
}
#contact {
    background-image: url('https://www.dilmahtea.com/assets/assets/Tea_Ranges_217c1227d3.jpg');
    text-align: center;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.contact-details {
    font-family: 'Mukti', sans-serif;
    margin: 30px;
}
.contact-details p, h2{
    font-family: 'Mukti', sans-serif;
    font-weight: 900;
}


    @media only screen and (max-width: 470px) {
       
    }    